import m from "mithril";
import HelloModel from "../../models/hello";
import Button from "../Button";

const HomePage: m.ClosureComponent = () => {
  let reply = "";

  let getServerReply = async () => {
    const answer = await HelloModel.GetHello();
    console.log(answer);
    reply = answer;
  };

  return {
    view: (vn) => {
      return m(
        "div",
        {
          class: "w-screen h-screen flex justify-center",
        },
        [
          m(
            "div",
            {
              class: "rounded p-40 flex flex-col gap-2 items-center",
            },
            [
              m("p", reply),
              m(Button, { onclick: getServerReply }, "Say hello!"),
            ]
          ),
        ]
      );
    },
  };
};

export default HomePage;
