/** @type {import('tailwindcss').Config} */
module.exports = {
  content: ["./src/**/*.{html,ts}"],
  theme: {
    extend: {
      colors: {
        primary: '#e6e9ef',
        secondary: '#04a5e5',
        tertiary: '#4c4f69',
        background: '#bcc0cc'
      }
    },
  },
  plugins: [],
}

