package controllers

import (
	"encoding/json"
	"fmt"
	"net/http"
)

type HelloController struct {
	mux *http.ServeMux
}

func NewHelloController(mux *http.ServeMux) HelloController {
	return HelloController{mux}
}

func (c HelloController) Init() {
	c.mux.HandleFunc("GET /api/hello", c.HandleGetHello)
}

func (c HelloController) HandleGetHello(w http.ResponseWriter, r *http.Request) {
	response := struct {
		Message string `json:"message"`
	}{Message: "Hello from the server!"}

	w.Header().Set("Content-Type", "application/json")
	if err := json.NewEncoder(w).Encode(response); err != nil {
		http.Error(w, fmt.Sprintf("Unable to encode JSON: %v", err), http.StatusInternalServerError)
	}
}
