package main

import (
	"fmt"
	"net/http"

	c "github.com/{{ .GithubUsername }}/{{ .ProjectName }}/controllers"
)

func main() {
	mux := http.NewServeMux()

	mux.Handle("/", http.FileServer(http.Dir("./frontend")))

	helloController := c.NewHelloController(mux)
	helloController.Init()

	port := ":3000"
	fmt.Printf("Serving on %v\n", port)
	http.ListenAndServe(port, mux)
}
