package main

import (
	"fmt"
	"log"
	"net/http"

	c "github.com/{{ .GithubUsername }}/{{ .ProjectName }}/controllers"
)

type Controller interface {
	RegisterRoutes(mux *http.ServeMux)
}

func main() {
	mux := http.NewServeMux()

	mux.Handle("/", http.FileServer(http.Dir("./frontend")))

	controllers := []Controller{
		c.NewHelloController(),
	}

	for _, controller := range controllers {
		controller.RegisterRoutes(mux)
	}

	port := ":3000"

	fmt.Printf(`  ____  ___ _____ __  __
 / ___|/ _ \_   _|  \/  |
| |  _| | | || | | |\/| |
| |_| | |_| || | | |  | |
 \____|\___/ |_| |_|  |_|

    Serving on %v

`, port)

	if err := http.ListenAndServe(port, mux); err != nil {
		log.Fatalln(err)
	}

}
